:root {
  --mommy_color: #ffffff;
}


body {
  text-align: center;
  font-family: 'Segoe UI';
  background-image: url(whee.webp);
  background-size: cover;

  
}

body::before {
  background-color: rgba(0, 0, 0, 0);
  opacity: 10%;

}

.navbar{
  background-color: black;
  border-radius: 30px;
  position: fixed;
  width: 99%;
  
}
.navbar ul{
  overflow: auto;
}
.navbar li{
  float:left;
  list-style: none; 
  margin: 13px 20px;
  
}
.navbar li a{
  padding: 3px 3px;
  text-decoration: none;
  color: white;
}
.navbar li a:hover{
  color: red
}
.search{
  float: right;
  color: white;
  padding: 12px 75px;
}
.navbar input{
  border: 2px solid black;
  border-radius: 14px;
  padding: 3px 17px;
  width: 129px;
}

body {
  background-color: #24262f;
} 

.mommy {
  font-size: 30px;
  color: var(--mommy_color);
  margin: 50px;
}


select {
  height: 40px;
  width: 110px;
  background-color: #24262f;
  border-color: var(--mommy_color);
  color: var(--mommy_color);
  transition: background-color 0.5s;
  border-radius: 0;
  font-size: 20px;
  margin: 5px;
  border-radius: 10px;
}

select:hover {
  background-color: var(--mommy_color);
  color: black;
  
}

option {
  height: 30px;
  width: 70px;
  text-align: center;
  margin-top: 50px;
}

#amount {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  height: 40px;
  border-color: --mommy_color;
  background-color: #24262f;
  color: var(--mommy_color);
  text-align: center;
  transition: background-color 0.5s;
  border-style:solid;
  border-top-color: var(--mommy_color);
  border-left-color: var(--mommy_color);
  border-right-color: var(--mommy_color);
  border-bottom-color: var(--mommy_color);
}

#amount:focus {
  border-color: #2792b9;
}

#amount:hover {
  background-color: var(--mommy_color);
  color: black;
}

#submit-button {
  text-align: center;
  height: 55px;
  width: 220px;
  background-color: #24262f;
  border-top-color: green;
  border-left-color: green;
  border-bottom-color: green;
  border-right-color: green;
  border-style: solid;
  border-width: 5px;
  color: var(--mommy_color);
  transition: background-color 0.5s;
  border-radius: 0;
  font-size: 20px;
  margin: 5px;
  border-radius: 10px;
}

#submit-button:hover {
  background-color: var(--mommy_color);
  color: black;
  border-width: 10px;
}

div {
  color: var(--mommy_color);
  padding: 50px;
}

embed {
  height: 900px;
  width: 900px;
  margin-top: 5%;
}

.mommysaranghae {
  text-align: center;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

#loader {
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 8px;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 99999;  
  background: black
}

#loader p {  
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  padding: 0;
  margin: 0;
}

#loader-content {
  height: 90%;
}


/* ANALYSIS.HTML */

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding-top: 0;
}

.column2 {
  float: left;
  width: 50%;
  padding-top: 0;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0;}

.row2 {margin: 0;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 0;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 0;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #24262f;
  margin-top: 0;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #24262f;
  margin-top: 0;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
